# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
firebase-debug.log
firebase-debug.*.log

# Misc
.DS_Store
.fleet
.idea
.firebase
favicon/

# Local env files
.env
.env.*
!.env.example
